<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptology Project:Encryption Algorithms</title>
  </head>
  <body>
    <h1>Chat Application</h1>

    <!-- Sender Application -->
    <h2>Sender</h2>
    <form action="/encrypt" method="post">
      <label for="plain_text">Enter plain text message:</label><br />
      <input type="text" id="plain_text" name="plain_text" required /><br />
      <label for="key">Enter key:</label><br />
      <input type="text" id="key" name="key" required /><br />
      <label for="algorithm">Select technique:</label><br />
      <select id="algorithm" name="algorithm">
        <option value="caesar">Caesar Cipher</option>
        <option value="polyalphabetic">Polyalphabetic</option>
        <option value="monoalphabetic">Monoalphabetic</option>
        <option value="hill_cipher">Hill Cipher</option>
        <option value="play_flair">Play Fair</option></select
      ><br />
      <input type="submit" name="encrypt" value="Encrypt" /><br />
      {% if not encrypted_text %}
      <label for="cipher_text">Cipher text:</label><br />
      <textarea rows="1" cols="20" readonly></textarea><br />
      <button type="submit">Send</button>
      {% endif %}
    </form>
    {% if encrypted_text %}
    <label for="cipher_text">Cipher text:</label><br />
    <form action="/send_message" method="post">
      <textarea
        rows="1"
        cols="20"
        id="encrypted_text"
        name="encrypted_text"
        readonly
      >
        {{ encrypted_text }}</textarea
      ><br />
      <button type="submit">Send</button>
    </form>
    {% endif %}

    <!-- Receiver Application -->
    <h2>Receiver</h2>
    <form action="/receive_message" method="post">
      {% if send_encrypted_text %}
      <label for="cipher_text">Plain text:</label><br />
      <textarea
        rows="1"
        cols="20"
        id="received_encrypted_text"
        name="received_encrypted_text"
        readonly
      >
{{ send_encrypted_text }}</textarea
      ><br />
      {% endif %} {% if not send_encrypted_text %}
      <label for="cipher_text">Plain text:</label><br />
      <textarea rows="1" cols="20" readonly></textarea><br />
      {% endif %}
      <label for="key">Enter key:</label><br />
      <input type="text" id="key" name="key" required /><br />
      <label for="algorithm">Select technique:</label><br />
      <select id="algorithm" name="algorithm">
        <option value="caesar">Caesar Cipher</option>
        <option value="polyalphabetic">Polyalphabetic</option>
        <option value="monoalphabetic">Monoalphabetic</option>
        <option value="hill_cipher">Hill Cipher</option>
        <option value="play_flair">Play Fair</option></select
      ><br />
      <input type="submit" id="decrypt" name="decrypt" value="Decrypt" /><br />
      {{ decrypted_text }}{% if decrypted_text %}
      <label for="cipher_text">Plain text:</label><br />
      <textarea
        rows="1"
        cols="20"
        id="decrypted_text"
        name="decrypted_text"
        readonly
      >
{{ decrypted_text }}</textarea
      ><br />
      {% endif %} {% if not decrypted_text %}
      <label for="cipher_text">Plain text:</label><br />
      <textarea rows="1" cols="20"></textarea><br />
      {% endif %}
    </form>
  </body>
</html>
